
<div class="divisor">
    <h1>Sobre Mí</h1>
</div>

<div class="row text-center">

    <div class="col-12">
        <div class="container">
            <img class="" src="assets/micara.png" alt="imagen franco"> 
        </div>
    </div>

    <div class="col-12">
        <div class="container">
            <p>
                Me llamo Franco David Oliva y soy de la ciudad de Rosario, Santa fe.
            </p>
            <p>
                Así como me gusta sentarme en la pc a programar, disfruto mucho de la música y los juegos de pc.
            </p>
            <p>
                Antes de la pandemia, me encontraba viajando como mochilero y, el motivo de esta aventura, era ver de qué era capáz y hasta donde podía llegar por mi cuenta.    
            </p>
            <p>
                Hoy, mi objetivo es ser un buen programador. Me encuentro constantemente realizando cursos y bootcamps para mejorar.
            </p>
            <p>
                Me considero una persona competitiva y me encanta ponerme objetivos.
            </p>
            <p>
                Y ya para terminar, agradezco el tiempo que te tomaste para conocer un poco sobre mí.
            </p>
            <p>
                Saludos! =)
            </p>
        </div>
    </div>

</div>




