img {
    height: 20rem;
    width: auto;
    
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 1rem;
    border-radius: 100%;
    opacity: 0.8;
}

h1 {
    font-family: 'Indie Flower', cursive;
    font-size: xxx-large;
    text-align: center;
}





