<!-- Componente con los modals de cada proyecto -->
<app-modal></app-modal> 

<!--contenido-->
<div class="divisor" >
  <h1>Proyectos</h1>
</div>

    <div class="row m-1 centrar">      
      <!--mastergym-->
    <div class="col-12 card m-1 p-1" style="width: 25rem;"  data-bs-toggle="modal" data-bs-target="#masterGym">
      <img src="assets/angular.png" class="card-img-top" id="img-angular">
      <div class="card-body">
          <h5 class="card-title">MasterGym</h5>
          <p class="card-text"> Proyecto donde simulamos un sistema para el registro de clientes en un Gym.</p>
          <p class="card-text">Tecnologías utilizadas: Angular, TypeScript, HTML, CSS, Firebase, BootStrap.</p>            
        </div>
    </div>
    <!--template-->
    <div class="col-12 card m-1 p-1" style="width: 25rem;"  data-bs-toggle="modal" data-bs-target="#template">
      <img src="assets/angular.png" class="card-img-top" id="img-angular">
      <div class="card-body">
          <h5 class="card-title">Template HTML a Angular</h5>
          <p class="card-text"> Pequeño proyecto donde aprendo a convertir un template html en un proyecto Angular.</p>
          <p class="card-text">Tecnologías utilizadas: Angular, TypeScript, HTML, CSS, Firebase.</p>            
        </div>
    </div>
    <!--empleados-->
    <div class="col-12 card m-1 p-1" style="width: 25rem;"  data-bs-toggle="modal" data-bs-target="#empleados">
      <img src="assets/angular.png" class="card-img-top" id="img-angular">
      <div class="card-body">
          <h5 class="card-title">Empleados Form Firebase</h5>
          <p class="card-text"> El objetivo de este mini proyecto era practicar conectar Angular con Firebase.</p>
          <p class="card-text">Tecnologías utilizadas: Angular, TypeScript, HTML, CSS, Firebase.</p>            
        </div>
    </div>
    <!--hostelapp-->   
      <div class="col-12 card m-1 p-1" style="width: 25rem;"   data-bs-toggle="modal" data-bs-target="#hostelApp">
        <img src="assets/hostelApp.png" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Hostel App</h5>
            <p class="card-text">Proyecto Final desarrollado en el curso intensivo de <a href="https://www.linkedin.com/company/comunidad-it/" target="_blank" rel="noopener">Comunidad IT</a>.</p>
            <p class="card-text">Tecnologías utilizadas: Apache Cordova, Framework7, HTML, CSS, JavaScript, Firebase.</p>         
          </div>
      </div>
      <!--generala-->
      <div class="col-12 card m-1 p-1" style="width: 25rem;"  data-bs-toggle="modal" data-bs-target="#generala">
        <img src="assets/generala.png" class="card-img-top" >
        <div class="card-body">
            <h5 class="card-title">Generala</h5>
            <p class="card-text">Ejercicio desarrollado en el curso intensivo de <a href="https://www.linkedin.com/company/comunidad-it/" target="_blank" rel="noopener">Comunidad IT</a>.</p>
            <p class="card-text">Tecnologías utilizadas: Apache Cordova, Framework7, HTML, CSS, JavaScript, Firebase.</p>            
          </div>
      </div>      
    </div>
