h1 {
    font-family: 'Indie Flower', cursive;
    font-size: xxx-large;
    text-align: center;
}

.centrar-skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

h4 {
    margin-bottom: 1rem;
}



