
    <div class="divisor">
        <h1>Skills</h1>
    </div>

    <div class="row">

    
            <div class="col-6">
                <div class="centrar-skills margin-l">
                    <h4>Angular</h4>
                    <h4>TypeScript</h4>
                    <h4>BootStrap</h4>
                    <h4>HTML</h4>
                    <h4>CSS</h4>
                    <h4>JavaScript</h4>
                    <h4>Firebase</h4>
                </div>
            </div>
        

        <div class="col-6">
            <div class="centrar-skills margin-d">
                <h4>Framework7</h4>
                <h4>Apache Cordova</h4>
                <h4>JQuery</h4>
                <h4>SQL</h4>
                <h4>MySQL</h4>
                <h4>GIT</h4>
                <h4>GitHub</h4>
            </div>
        </div>
        

    </div>
