<!--Modal Hostel App-->
<div class="modal fade" tabindex="-1" id="hostelApp" data-bs-backdrop="static" data-bs-keyboard="false">
    
    <div class="modal-dialog modal-dialog-centered">
      
        <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Hostel App</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!--fragmento vídeo-->
          <iframe src="https://www.youtube.com/embed/wXExUsXt37Y" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          
          <!--contenido-->
          <small>
            <h5>Información</h5>
            <p>Cuando estaba viajando antes de la pandemia, estuve trabajando en un hostel donde utilizaban planillas para todo, cero tecnologías. Este proyecto esta enfocado en esa experiencia que tuve.</p>
            <p>Esta fue mi primer aplicación. Es un proyecto final que nos pidieron en el curso intensivo de COMIT para poder egresarnos y nos dieron un tiempo limite de 1 mes.</p>            
            <h5>Hostel App permite:</h5>
            <p>
            1 - Conectarse con perfiles: "usuario o admin" los cuales tienen permisos diferentes.<br>
            2 - Crear usuarios o darlos de baja si sos ADMINISTRADOR.<br>
            3 - Registrar clientes, pagos y gastos.<br>
            4 - Generar un reporte diario para saber cuántos clientes se registraron, cuánto se recaudó o cuánto se gastó EN EL DÍA.<br>
            5 - Buscar clientes para saber en qué cama o habitación están.<br>
            </p>
            <p>Tiempo de desarrollo: 75 hs</p>
            <h5>IMPORTATE</h5>
            <p> Al abrir el proyecto en tu explorador, tenés que hacer click derecho, darle a INSPECCIONAR y tocar la opción **TOGGLE **DEVICE TOOLBAR.</p>
            <p>GitHub: <a href="https://github.com/FrancoOliva/proyectofinal-hostelapp" target="_blank" rel="noopener">https://github.com/FrancoOliva/proyectofinal-hostelapp</a> </p>
          </small>
            
        </div>
      </div>
    </div>

  </div>

<!--Generala-->
  <div class="modal fade" tabindex="-1" id="generala" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Generala</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- fragmento vídeo-->
          <iframe src="https://www.youtube.com/embed/MA5slXjHA9Q" 
          title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          
          <!--contenido-->
         <small>           
          <h5>Información</h5>
          <p>Un anotador de generala para dos personas. Este fue uno de varios ejercicios desarrollados en el curso intensivo de Comunidad IT.</p>            
          <h5>Permite:</h5>
          <p>
          1 - Ingresar los nombres de los jugadores.<br>
          2 - Llevar un control de los puntajes.<br>
          3 - Reiniciar puntos.<br>
          4 - Contiene las reglas del juego.<br>          
          </p>
          <p>Tiempo de desarrollo: 13 hs 45 min.</p>
          <h5>IMPORTATE</h5>
          <p> Al abrir el proyecto en tu explorador, tenés que hacer click derecho, darle a INSPECCIONAR y tocar la opción **TOGGLE **DEVICE TOOLBAR.</p>
          <p>GitHub: <a href="https://github.com/FrancoOliva/generala1v1" target="_blank" rel="noopener">https://github.com/FrancoOliva/generala1v1</a> </p>
         </small>

        </div>
        
      </div>
    </div>
  </div>

<!--MasterGym-->
  <div class="modal fade" tabindex="-1" id="masterGym" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">MasterGym</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- fragmento vídeo -->
          <iframe src="https://www.youtube.com/embed/hJiEcQM6ESc" title="YouTube video player" frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          <!--contenido-->
          <!--contenido-->
         <small>           
          <h5>Información</h5>
          <p>MasterGym es un sistema desarrollado para un gimnasio.<br>
          Es un proyecto/ejercicio que se realiza para terminar de completar un curso de Angular y Typescript de 20 hs de contenido.<br>
          En este curso aprendí sobre typescript, firebase, localStorage, angular y, entre apuntes y pequeñas practicas, en total me llevo
          casi 45 hs terminarlo.
          </p>            
          <h5>Funcionamiento:</h5>
          <p>
            Uno necesita conectarse con un usuario a la aplicación y la funcionalidad
            principal es el registo o inscripción de un nuevo cliente.<br>
            
            Los cuales llegan e indican un tipo de suscripción al gimnasio que puede ser
            por día, semana, quincena, mes o año.<br>
            
            Se calcula fecha de inicio, la fecha final de esa suscripción y el total.  <br>        
          </p>
          <p>Tiempo de desarrollo: 20 hs.</p>
          <h5>IMPORTATE</h5>
          <p> Este proyecto no es responsive.</p>
          <p>GitHub: <a href="https://github.com/FrancoOliva/mastergym" target="_blank" rel="noopener">https://github.com/FrancoOliva/mastergym</a> </p>
         </small>

        </div>
        
      </div>
    </div>
  </div>

<!--Template html-->
  <div class="modal fade" tabindex="-1" id="template" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">MasterGym</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- img -->
          <img src="assets/template-ang.png" alt="imagen proyecto" id="templateImg">

          
          <!--contenido-->
         <small>           
          <h5>Información</h5>
          <p>Como llevar un TEMPLATE HTML a Angular.<br>
          Este es un pequeño proyecto en donde aprendí a llevar un template html que me guste a un proyecto en angular.<br>
          En este curso aprendí sobre typescript, firebase, localStorage, angular y, entre apuntes y pequeñas practicas, en total me llevo
          casi 10 hs terminarlo.
          </p>            
          <h5>Funcionamiento:</h5>
          <p>
            Las imágenes tienen algunas animaciones al aparecer.<br>
            
            Se pueden buscar los productos en el buscador ingresando la categoría o título.<br>       
          </p>
          <h5>Enlaces</h5>
          <p>Proyecto: <a href="https://francooliva.github.io/portafolio-angular/#/home" target="_blank" rel="noopener">Click para ver el sitio en GitHubPages</a> </p>
          <p>GitHub: <a href="https://github.com/FrancoOliva/portafolio-angular" target="_blank" rel="noopener">Click para ver proyecto en GitHub</a> </p>
         </small>

        </div>
        
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" id="empleados" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Empleados Firebase</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- img -->
          <img src="assets/empleados-firebase.png" alt="imagen proyecto" id="emp-img">

          
          <!--contenido-->
         <small>           
          <h5>Información</h5>
          <p>
          Un proyecto que contiene un formulario para crear empleados, editarlos o eliminarlos. Esta conectado a Firebase.
          </p>            
          <h5>Funcionamiento:</h5>
          <p>
            Podés editar o eliminar los empleados que se muestran en la lista.<br>
            Si no aparece ningún empleado, podés crearlo.            
                   
          </p>
          <h5>Enlaces</h5>
          <p>Proyecto: <a href="https://francooliva.github.io/empleados-angular/" target="_blank" rel="noopener">Click para ver el sitio en GitHubPages</a> </p>
          <p>GitHub: <a href="https://github.com/FrancoOliva/empleados-angular" target="_blank" rel="noopener">Click para ver proyecto en GitHub</a> </p>
         </small>

        </div>
        
      </div>
    </div>
  </div>
